@charset "utf-8";
@import url(default.css);
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url(../fonts/Pretendard-Medium.woff2) format('woff2'), url(../fonts/Pretendard-Medium.woff) format('woff');
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url(../fonts/Pretendard-Black.woff2) format('woff2'), url(../fonts/Pretendard-Black.woff) format('woff');
}

::selection {
    background-color: transparent;
    color: #69FF46;
}
::-webkit-selection {
    background-color: transparent;
    color: #69FF46;
}
::-moz-selection {
    background-color: transparent;
    color: #69FF46;
}
::-o-selection {
    background-color: transparent;
    color: #69FF46;
}
::-webkit-scrollbar {
    width: 15px;  /* 세로축 스크롤바 폭 너비 */
    background-color: #fdfdfd;
}
::-webkit-scrollbar-thumb {
    background-color: #020202;
    
}


html, body {
    font-family: 'Pretendard', sans-serif;
    font-size: 15px;
    color: #252422;
    background-color: #fdfdfd;
    font-weight: 500;
    line-height: 1.2;
    word-break: keep-all;
    word-wrap: break-word; 
}
#wrap {
    min-width: 100%;
    overflow: hidden;
}
@media screen and (max-width:1600px) {
    #wrap {
        overflow: scroll;
    }
}
.wrapper {
    width: 1600px;
    margin: 0 auto;
}
.wrapper_2 {
    width: 600px;
    margin: 0 auto;
}
@media screen and (max-width:1320px) {
    html, body {
        font-size: 15px;  
    }
}
.skipnav {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 999;
    width: 100%;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 50px;
    background-color: #fdfdfd;
    color: #020202;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.skipnav a[href="#gnb"] {
    background-color: #888;
}
.skipnav a:focus {
    top: 100px;
}