header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 70px;
    display: none;
}
header .gnb ul {
    display: flex;
    justify-content: space-between;
}
header .gnb ul li a {
    display: block;
    font-size: 22px;
    font-weight: 900;
    line-height: 70px;
}
header .gnb ul li:nth-child(1) a:hover {
    color: #020202;
}
header .gnb ul li:nth-child(2) a:hover {
    color: #C1B6A4;
}
header .gnb ul li:nth-child(3) a:hover {
    color: #B70809;
}
header .gnb ul li:nth-child(4) a:hover {
    color: #1B3281;
}
header .gnb ul li:nth-child(5) a:hover {
    color: #2A6F2C;
}
header.fixed {
    background-color:rgba(0, 0, 0, 0.33);
    display: block;
    color: #fdfdfd;
}

footer {
    margin-top: 200px;
}
footer .info {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    border-top: 1px solid #020202;
}
footer .info .con,
footer .info .abi,
footer .info .cer {
    margin-right: 40px;
}
footer .info strong {
    font-weight: 900;
    margin-right: 10px;
}
footer .info span {
    margin-right: 5px;
}
footer .info .con span:last-child,
footer .info .abi span:last-child,
footer .info .cer span:last-child {
    margin: 0;
}
footer .thank {
    text-align: center;
    margin: 30px 0;
    color: #020202;
}