@charset "utf-8";
@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

::selection {
    background-color: transparent;
    color: #888;
}
::-webkit-selection {
    background-color: transparent;
    color: #888;
}
::-moz-selection {
    background-color: transparent;
    color: #888;
}
::-o-selection {
    background-color: transparent;
    color: #888;
}

html, body {
    font-family: 'Roboto', 'Pretendard', sans-serif;
    font-size: 15px;  
    color: #fdfdfd;
    background-color: #020202;
    font-weight: 300; 
    line-height: 1.2;
    word-break: keep-all;
    word-wrap: break-word; 
}
.wrapper {
    width: 1600px;
    margin: 0 auto;
}
.wrapper2 {
    width: 1200px;
    margin: 0 auto;
}
#wrap {
    min-width: 100%;
    overflow: hidden;
}
@media screen and (max-width:1320px) {
    html, body {
        font-size: 15px;  
    }
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}
.skipnav {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 999;
    width: 100%;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 50px;
    background-color: #fdfdfd;
    color: #020202;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.skipnav a[href="#gnb"] {
    background-color: #888;
}
.skipnav a:focus {
    top: 100px;
}