@import url(default.css);
@import url(common.css);
@import url(layout.css);

.cts_intro .top {
    margin-top: 130px;
}
.cts_intro .top .tit_top {
    text-align: center;
}
/*.cts_intro .top .tit_top h2,
.cts_intro .top .tit_top span{
    font-size: 50px;
    font-weight: 400;
}
.cts_intro .top .tit_top span {
    color: rgba(253, 253, 253, 0.3);
}*/
.cts_intro .top .tit_top h2 {
    position: relative;
    font-size: 50px;
    font-weight: 400;
}
.cts_intro .top .tit_top h2::before {
    position: absolute;
    left: 50%;
    top: -30px;
    content: "Introduce Art Museum";
    font-size: 50px;
    font-weight: 400;
    transform: translate(-50%, 0);
    color: rgba(253, 253, 253, 0.3);
}
.cts_intro .top .inner {
    margin-top: 50px;
}
.cts_intro .top .inner .photo1 {
    text-align: center;
    margin-bottom: -350px;
}
.cts_intro .top .inner .photo2 {
    margin-left: 62.5%;
    margin-bottom: -200px;
}
.cts_intro .top .inner .photo3 {
    margin-right: 50%;
}
.cts_intro .top .sub_tit {
    text-align: center;
    margin-top: 50px;
}
.cts_intro .bot {
    margin-top: 130px;
}
.cts_intro .bot .tit_bot {
    text-align: center;
}
.cts_intro .bot .tit_bot h2 {
    position: relative;
    font-size: 50px;
    font-weight: 400;
}
.cts_intro .bot .tit_bot h2::before {
    position: absolute;
    left: 50%;
    top: -30px;
    content: "SPACE";
    font-size: 50px;
    font-weight: 400;
    transform: translate(-50%, 0);
    color: rgba(253, 253, 253, 0.3);
}
.cts_intro .bot .inner {
    margin-top: 50px;
}
.cts_intro .bot .sub_tit {
    text-align: center;
    margin-top: 50px;
}
.cts_exhibit .top {
    margin-top: 130px;
}
.cts_exhibit .top .tit h2 {
    margin-bottom: 50px;
}
.cts_exhibit .top .tit h2:before {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translate(-50%, 0);
    content: "Exhibiting";
    font-size: 50px;
    font-weight: 400;
    color: rgba(253, 253, 253, 0.3);
}
.cts_exhibit span {
    margin-top: 10px;
    display: block;
}
.cts_exhibit .swiper ul li .sub_tit {
    display: none;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
.cts_exhibit .swiper ul li a:hover img.normal {
    display: none;
}
.cts_exhibit .swiper ul li a:hover img.hover {
    display: block;
}
.cts_exhibit .swiper ul li a:hover .sub_tit {
    display: block;
}
.cts_exhibit .mid {
    margin-top: 130px;
}
.cts_exhibit .mid .tit h2 {
    margin-bottom: 50px;
}
.cts_exhibit .mid .tit h2:before {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translate(-50%, 0);
    content: "To be exhibited";
    font-size: 50px;
    font-weight: 400;
    color: rgba(253, 253, 253, 0.3);
}
.cts_exhibit .bot {
    margin-top: 130px;
}
.cts_exhibit .bot .tit h2 {
    margin-bottom: 50px;
}
.cts_exhibit .bot .tit h2:before {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translate(-50%, 0);
    content: "Closed";
    font-size: 50px;
    font-weight: 400;
    color: rgba(253, 253, 253, 0.3);
}
.cts_exhibit .tit {
    text-align: center;
}
.cts_exhibit .tit h2 {
    font-size: 50px;
    font-weight: 400;
    position: relative;
}
.cts_exhibit .bot .swiper {
    width: calc(100% + 120px);
}
.cts_exhibit .hover {
    display: none;
}

.cts_notice .tit {
    text-align: center;
}
.cts_notice .tit h2 {
    position: absolute;
    left: 50%;
    top: 290px;
    transform: translate(-50%, 0);
    font-size: 50px;
    font-weight: 400;
    z-index: 100;
}
.cts_notice .tit h2::before {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translate(-50%, 0);
    content: "Notification";
    font-size: 50px;
    font-weight: 400;
    color: rgba(253, 253, 253, 0.3);
}
.cts_notice .board::after {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-52%, -50%);
    content: "";
    background-color: #020202;
    width: 140px;
    height: 100px;
}
.cts_notice .board::before {
    position: absolute;
    right: 25px;
    bottom: -10px;
    content: "";
    background-color: #020202;
    width: 100px;
    height: 100px;
}
.cts_notice .board {
    border: 1px solid #fdfdfd;
    margin-top: 120px;
}
.cts_notice .board .text ul {
    display: flex;
    flex-direction: column;
    padding: 111px 140px 118px 80px;
}
.cts_notice .board .text ul li:first-child {
    margin-top: 0;
}
.cts_notice .board .text ul li {
    margin-top: 20px;
}
.cts_notice .board .text ul li a {
    display: flex;
    justify-content: space-between;
}
.cts_notice .board {
    position: relative;
}
.cts_notice .board .count {
    text-align: right;
    position: absolute;
    right: 50px;
    bottom: -20px;
}
.cts_notice .board .count span {
    font-size: 40px;
    font-weight: 400;
}
.cts_notice .board .count em {
    font-size: 20px;
    color: #666666;
}