@import url(default.css);
@import url(common.css);
@import url(layout.css);

.about {
    margin-bottom: 200px;
}
.about .about_top {
    margin: 100px 0 95px 12.5%; /* 1600의 200px = 200/1600*100 = 12.5 */
    position: relative;
}
.about .about_top .photo {
    margin-left: 26.8%; /* 377/1407 = 26.8 */
}
.about .about_top .photo img {
    width: 100%; /* 감싸는 photo의 넓이에 꽉 맞게 높이는 비율에 맞게 */
}
.about .about_top .tit {
    position: absolute;
    left: 0;
    bottom: -45px;
}
.about .about_top .tit h2 {
    font-size: 100px;
}
.about .about_top .tit p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}
.about .about_top .tit p br.m_768 {
    display: none;
}
.about .about_top .subtit {
    position: absolute;
    left: 0;
    top: 22%;
}

.about .about_top .subtit em::before {
    position: absolute;
    left: 0;
    top: -5px;
    content: "";
    width: 375px;
    border-top: 2px solid rgba(253, 253, 253, 0.7);
}
.about .about_sub {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* flex로 정렬된 좌우요소의 높이를 각자의 높이대로 */
}
.about .about_sub .about_left {
    width: 62.8%;
    position: relative;
}
.about .about_sub .about_left .photo {
    margin-left: -16%;
}
.about .about_sub .about_left .photo img {
    width: 100%;
}
.about .about_sub .about_left .tit {
    position: absolute;
    left: 0;
    bottom: -45px;
}
.about .about_sub .about_left .tit h2 {
    font-size: 100px;
}
.about .about_sub .about_left .tit p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}
.about .about_sub .about_left .tit p br.m_1600 {
    display: none;
}
.about .about_sub .about_left .tit p br.m_768 {
    display: none;
}
.about .about_sub .about_right {
    width: 32.25%;
    position: relative;
}
.about .about_sub .about_right img {
    width: 100%;
}
.about .about_sub .about_right em {
    position: absolute;
    left: -244px;
    bottom: 30px;
}
.about .about_sub .about_right em::before {
    position: absolute;
    left: 0;
    top: -5px;
    content: "";
    width: 244px;
    border-top: 2px solid rgba(253, 253, 253, 0.7);
}
.about .more button {
    display: none;
}
                @media screen and (max-width:1600px) {
                    .wrapper {
                        width: auto;
                    }
                }
                @media screen and (max-width:1440px) {
                    .about .about_sub .about_left .tit p br,
                    .about .about_sub .about_left .tit p br.m_1600 {
                        display: none;
                    }
                }
                @media screen and (max-width:1024px) {
                    .about .about_top .tit h2,
                    .about .about_top .tit h2 {
                        font-size: 75px;
                    }
                    .about .about_top .tit p,
                    .about .about_top .tit p {
                        font-size: 17px;
                        margin-top: 0;
                    }
                }
                @media screen and (max-width:990px) {
                    .about .about_sub .about_right {
                        display: none;
                    }
                }
                @media screen and (max-width:768px) {
                    .about .about_top .tit h2 ,
                    .about .about_sub .about_left .tit h2 {
                        font-size: 50px;
                    }
                    .about .about_top .tit p ,
                    .about .about_sub .about_left .tit p {
                        font-size: 15px;
                    }
                    .about .about_top .tit p br,
                    .about .about_sub .about_left .tit p br {
                        display: none;
                    }
                    .about .about_top.tit p br.m_768,
                    .about .about_sub .about_left .tit p br.m_768 {
                        display: block;
                    }
                }
                @media screen and (max-width:600px) {
                    .about .about_top .tit p,
                    .about .about_sub .about_left .tit p {
                        line-height: 1.2;
                        height: 3.6em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .about .about_top .tit p br.m_768,
                    .about .about_sub .about_left.tit p br.m_768 {
                        display: none;
                    }
                    .about .more button {
                        display: block;
                        position: absolute;
                        left: 50%;
                        bottom: 104px;
                        transform: translate(-50%, 0);
                        border: 1px solid #fdfdfd;
                        padding: 8px 22px 10px 20px;
                    }
                }
                @media screen and (max-width:480px) {
                    .about .about_top .tit h2 ,
                    .about .about_sub .about_left .tit h2 {
                        font-size: 30px;
                    }
                    .about .about_top .tit p ,
                    .about .about_sub .about_left .tit p {
                        font-size: 12px;
                    }
                    .about .more button {
                        bottom: 199px;
                    }
                }

.exhibit {
    border-top: 2px solid #fdfdfd;
    border-bottom: 2px solid #fdfdfd;
    padding-bottom: 100px;
}
.exhibit .wrapper {
    margin-top: -50px;
    position: relative;
}
.exhibit .text {
    font-size: 100px;
    font-weight: 400;
    position: absolute;
    left: 42.5%;
    top: 20%;
}
.exhibit .text ul li.fill {
    position: relative;
    z-index: 10;
}
.exhibit .text ul li.outline {
    color: #020202;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fdfdfd;
}
.exhibit .swiper {
    padding-top: 50px;
}
.exhibit .swiper-slide span {
    position: absolute;
    display: block;
    left: 25px;
    top: -30px;
    color: #fdfdfd;
    font-size: 50px;
}
.exhibit .swiper-slide span::before {
    position: absolute;
    left: -25px;
    top: -25px;
    width: 100px;
    height: 100px;
    content: "";
    background-color: #020202;
    z-index: -1;
}
.exhibit .swiper-slide img {
    display:block;
    width: 50%;
    margin-top: 80px;
}
.exhibit .btn {
    float: right;
    margin-top: -30px;
}
.exhibit .btn a {
    font-size: 30px;
    position: relative;
}
.exhibit .btn a::before {
    position: absolute;
    left: 110%;
    top: 5px;
    content: "";
    width: 100px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='14.849' viewBox='0 0 100 14.849'%3E%3Cg id='그룹_75' data-name='그룹 75' transform='translate(-1406 -2934.151)'%3E%3Crect id='사각형_151' data-name='사각형 151' width='100' height='1' transform='translate(1406 2948)' fill='%23fff'/%3E%3Crect id='사각형_152' data-name='사각형 152' width='20' height='1' transform='translate(1491.858 2934.151) rotate(45)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.exhibit .btn a:hover::before {
    animation-name:move;
    animation-duration: 1.22s;
    animation-iteration-count:infinite;
}
@keyframes move {
	0% { transform:translate(0, 0) }
    60% { transform:translate(66px, 0) }
    100% { transform:translate(0, 0) }
}
                @media screen and (max-width:1240px) {
                }
.sns {
    height: 840px;
}
.sns h2 {
    font-size: 100px;
    font-weight: 400;
    margin-top: 100px;
}
.sns .swiper {
    width: calc(100% + 600px);
    padding-bottom: 110px;
}
.sns .swiper ul {
    margin-top: 30px;
}
.sns .swiper ul li {
    width: auto;
    height: auto;
}
.sns .swiper ul li a img.hover {
    display: none;
}
.sns .swiper ul li a:hover img.normal {
    display: none;
}
.sns .swiper ul li a:hover img.hover {
    display: block;
}
.sns .swiper ul li a img {
    position: relative;
}
.sns .swiper ul li a .tit {
    position: absolute;
    left: 50%;
    top: 45%;
    width: 100%;
    transform: translate(-50%, 0);
    text-align: center;
    transition: 0.77s;
}
.sns .swiper ul li a:hover .tit {
    position: absolute;
    left: 50%;
    top: 427px;
    width: 100%;
    transform: translate(-50%, 0);
    text-align: center;
}
.sns .swiper ul li a .tit span.like {
    font-size: 20px;
    font-weight: 400;
}
.sns .swiper ul li a .tit span.reply {
    display: none;
}
.sns .swiper ul li a .tit p {
    margin-top: 10px;
}
.sns .btn {
    margin-top: 85px;
    text-align: right;
    float: right;
}
.sns .btn a {
    display: block;
}
.sns .btn p {
    font-size: 50px;
}
.sns .btn span {
    margin: 16px 4px 0 0;
    font-size: 20px;
    position: relative;
}
.sns .btn span::before {
    position: absolute;
    left: -485px;
    top: -4px;
    content: "";
    border: 1px solid #fdfdfd;
    width: 587px;
    transition: 0.77s;
}
.sns .btn span.reply {
    display: none;
}
.sns .btn a:hover span::before {
    width: 800px;
}
.sns button {
    display: none;
}
@media screen and (max-width:1024px) {
    .sns {
        height: 600px;
    }
    .sns h2 {
        font-size: 50px;
    }
    .sns .swiper ul li a img{
        width: 350px;
        height: 350px;
    }
    .sns .swiper ul li a:hover .tit {
        position: absolute;
        left: 50%;
        top: 377px;
        width: 100%;
        transform: translate(-50%, 0);
        text-align: center;
    }
    .sns .btn {
        margin-top: 55px;
    }
    .sns .btn p {
        font-size: 30px;
    }
    .sns .btn span::before {
        left: -245px;
        width: 357px;
    }
}
@media screen and (max-width:768px) {
    .sns {
        height: 500px;
        margin-left: 30px;
    }
    .sns .swiper ul li a img{
        width: 300px;
        height: 300px;
    }
    .sns .swiper ul li a img.hover {
        display: block;
    }
    .sns .swiper ul li a img.normal {
        display: none;
    }
    .sns .swiper ul li a .tit {
        transition: 0s;
    }
    .sns .swiper ul li a:hover .tit {
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        transform: translate(0, 0);
    }
    .sns .swiper ul li a .tit span.like {
        position: relative;
        left: 60px;
        bottom: -180px;
    }
    .sns .swiper ul li a .tit span.like::before {
        position: absolute;
        left: -30px;
        top: 0;
        content: "";
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath id='heart-line' d='M14,4.985a6.808,6.808,0,0,1,9.89.3,8.259,8.259,0,0,1,.283,10.693L14,27,3.826,15.974A8.26,8.26,0,0,1,4.109,5.282,6.811,6.811,0,0,1,14,4.985Zm8.191,2.131a4.538,4.538,0,0,0-6.588-.2L14,8.473,12.4,6.918a4.541,4.541,0,0,0-6.593.2,5.509,5.509,0,0,0-.23,7.078L14,23.325,22.424,14.2A5.507,5.507,0,0,0,22.192,7.116Z' transform='translate(-2 -3)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
    .sns .swiper ul li a .tit span.reply {
        display: block;
        position: relative;
        left: 140px;
        bottom: -156px;
        font-size: 20px;
    }
    .sns .swiper ul li a .tit span.reply::before {
        position: absolute;
        left: 108px;
        top: 0;
        content: "";
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath id='chat-3-line' d='M19.651,24.589,26,26l-1.411-6.349a11.993,11.993,0,1,0-4.938,4.938ZM19.3,22.053l-.784.419a9.593,9.593,0,1,1,3.954-3.954l-.419.784.786,3.536Z' transform='translate(-2 -2)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
    .sns .swiper ul li a .tit em {
        display: none;
    }
    .sns .swiper ul li a .tit .text {
        display: none;
    }
    .sns .btn p, .sns .btn span {
        display: none;
    }
    .sns .center {
        text-align: center;
    }
    .sns .center button {
        display: inline-block;
        border: 1px solid #fdfdfd;
        padding: 8px 22px 10px 20px;
    }
}
@media screen and (max-width:490px) {
    .sns {
        height: 400px;
    }
    .sns h2 {
        font-size: 30px;
        margin-top: 50px;
    }
}


.contact {
    height: 600px;
    margin-top: 300px;
}
.contact .wrapper {
    position: relative;
}
.contact .map {
    float: left;
}
.contact h2 {
    font-size: 100px;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: -84px;
    z-index: 1;
}
.contact .info {
    float: right;
    text-align: right;
}
.contact .info h3 {
    font-size: 50px;
}
.contact .info p {
    font-size: 20px;
    margin-top: 20px;
}
.contact .info .pho {
    margin-top: 70px;
}
.contact .btn {
    text-align: right;
}
.contact .btn a {
    display: inline-block;
    padding-top: 280px;
    font-size: 20px;
    position: relative;
}
.contact .btn a::before {
    position: absolute;
    right: -88px;
    bottom: 8px;
    width: 75px;
    height: 16px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75.4' height='15.883' viewBox='0 0 75.4 15.883'%3E%3Cg id='그룹_9' data-name='그룹 9' transform='translate(-1590 -2970.509)'%3E%3Crect id='사각형_36' data-name='사각형 36' width='75' height='1' transform='translate(1590 2985.392)' fill='%23fff'/%3E%3Crect id='사각형_37' data-name='사각형 37' width='21.543' height='0.539' transform='translate(1650.167 2970.509) rotate(45)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.contact .btn a:hover::before {
    animation-name:move;
    animation-duration: 1.11s;
    animation-iteration-count:infinite;
}
@keyframes move {
	0% { transform:translate(0, 0) }
    60% { transform:translate(16px, 0) }
    100% { transform:translate(0, 0) }
}

@media screen and (max-width:1790px) {
    .contact .btn a {
        padding-right: 80px;
    }
    .contact .btn a::before {
        right: -8px;
    }
}
@media screen and (max-width:1620px) {
    .contact {
        height: 500px;
    }
    .contact .map iframe {
        width: 1000px;
        height: 500px;
    }
    .contact .btn a {
        padding-right: 130px;
        padding-top: 180px;
    }
    .contact .btn a::before {
        right: 18px;
    }
}
@media screen and (max-width:1360px) {
    .contact {
        height: 400px;
    }
    .contact .map iframe {
        width: 800px;
        height: 400px;
    }
    .contact .btn a {
        padding-top: 150px; 
    }
}
@media screen and (max-width:1200px) {
    .contact {
        height: 350px;
    }
    .contact .map iframe {
        width: 600px;
        height: 300px;
    }
    .contact .info h3 {
        font-size: 40px;
    }
    .contact .info p {
        font-size: 15px;
    }
    .contact .btn a {
        padding-right: 180px;
    }
}
@media screen and (max-width:1024px) {
    .contact h2 {
        font-size: 50px;
        top: -61px;
    }
}
@media screen and (max-width:900px) {
    .contact {
        height: 650px;
    }
    .contact .map {
        float: none;
        text-align: center;
    }
    .contact .map iframe {
        width: 100%;
        height: 400px;
    }
    .contact .info {
        float: left;
        text-align: left;
        margin-top: 20px;
    }
    .contact .btn {
        text-align: center;
        float: none;
        margin-top: 310px;
    }
    .contact .btn a {
        display: inline-block;
        font-size: 15px;
        border: 1px solid #fdfdfd;
        padding: 8px 20px 10px 21px;
        position: relative;
    }
    .contact .btn a::before {
        display: none;
    }
}
@media screen and (max-width:490px) {
    .contact h2 {
        font-size: 30px;
    }
}
@media screen and (max-width:425px) {
    .contact .btn {
        margin-top: 330px;
    }
}