@import url(default.css);
@import url(common.css);
@import url(layout.css);

.about {
    height: 1795px;
}
.about_1 {
    margin-top: 100px;
    position: relative;
    width: 1400px;
    height: 700px;
    float: right;
}
.about_1 .photo {
    float: right;
}
.about_1 img {
    width: 100%;
    height: 100%;
}
.about_1 .tit {
    position: absolute;
    left: 0px;
    bottom: -22px;
}
.about_1 .tit h2 {
    font-size: 100px;
}
.about_1 .tit p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}
.about_1 .tit p br.m_768 {
    display: none;
}
.about_1 .subtit {
    width: 370px;
    height: 56px;
    position: relative;
}
.about_1 .subtit em {
    position: absolute;
    left: 0px;
    top: 200px;
}
.about_1 .subtit em::before {
    position: absolute;
    left: 0;
    top: -5px;
    content: "";
    width: 400px;
    border-top: 2px solid rgba(253, 253, 253, 0.7);
}
.about_2 {
    width: 1200px;
    height: 600px;
    margin-top: 100px;
    float: left;
    position: relative;
}
.about_2 img {
    width: 100%;
    height: 100%;
}
.about_2 .tit {
    position: absolute;
    left: 160px;
    bottom: -67px;
}
.about_2 .tit h2 {
    font-size: 100px;
}
.about_2 .tit p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}
.about_2 .tit p br.m_1600 {
    display: none;
}
.about_2 .tit p br.m_768 {
    display: none;
}
.about_3 {
    width: 500px;
    height: 800px;
    margin-top: 100px;
    float: right;
    position: relative;
}
.about_3 .photo {
    float: right;
}
.about_3 img {
    width: 100%;
    height: 100%;
}
.about_3 em {
    position: absolute;
    left: -244px;
    bottom: 30px;
}
.about_3 em::before {
    position: absolute;
    left: 0;
    top: -5px;
    content: "";
    width: 244px;
    border-top: 2px solid rgba(253, 253, 253, 0.7);
}
                @media screen and (max-width:1800px) {
                    .about_2 {
                        width: 1100px;
                        height: 550px;
                    }
                    .about_3 {
                        width: 450px;
                        height: 720px;
                    }
                    .about_3 em {
                        bottom: 70px;
                        left: -184px;
                    }
                    .about_3 em::before {
                        width: 184px;
                    }
                }
                @media screen and (max-width:1600px) {
                    .wrapper {
                        width: auto;
                    }
                    .about_1 {
                        margin-right: 40px;
                    }
                    .about_2 {
                        width: 1000px;
                        height: 500px;
                    }
                    .about_2 .tit {
                        bottom: -64px;
                    }
                    .about_2 .tit p br {
                        display: none;
                    }
                    .about_2 .tit p br.m_1600 {
                        display: block;
                    }
                    .about_3 {
                        margin-right: 40px;
                        width: 400px;
                        height: 640px;
                    }
                    .about_3 em {
                        bottom: -1px;
                    }
                }
                @media screen and (max-width:1440px) {
                    .about_1 .tit {
                        left: 140px;
                    }
                    .about_1 .subtit em {
                        left: 140px;
                    }
                    .about_1 .subtit em::before {
                        width: 260px;
                    }
                    .about_2 {
                        width: 900px;
                        height: 450px;
                    }
                    .about_2 .tit {
                        bottom: -87px;
                        left: 100px;
                    }
                    .about_2 .tit p br,
                    .about_2 .tit p br.m_1600 {
                        display: none;
                    }
                    .about_3 {
                        width: 350px;
                        height: 560px;
                    }
                    .about_3 em {
                        bottom: -21px;
                    }
                }
                @media screen and (max-width:1310px) {
                    .about_1 .tit {
                        left: 310px;
                    }
                    .about_1 .subtit em {
                        display: none;
                    }
                    .about_2 {
                        width: 800px;
                        height: 400px;
                    }
                    .about_2 .tit {
                        bottom: -60px;
                        left: 20px;
                    }
                    .about_3 {
                        width: 300px;
                        height: 480px;
                    }
                    .about_3 em {
                        display: none;
                    }
                }
                @media screen and (max-width:1230px) {
                    .about_1,
                    .about_3 {
                        margin-right: 20px;
                    }
                }
                @media screen and (max-width:1140px) {
                    .about_1 {
                        width: 900px;
                        height: 630px;
                    }
                    .about_1 .tit {
                        left: -70px;
                    }
                    .about_2 {
                        width: 700px;
                        height: 350px;
                    }
                    .about_2 .tit {
                        bottom: -82px;
                    }
                    .about_3 {
                        width: 250px;
                        height: 400px;
                    }
                }
                @media screen and (max-width:1024px) {
                    .about_1,
                    .about_3 {
                        margin-right: 0px;
                    }
                    .about_2 .tit {
                        bottom: -52px;
                    }
                    .about_1 .tit h2,
                    .about_2 .tit h2 {
                        font-size: 75px;
                    }
                    .about_1 .tit p,
                    .about_2 .tit p {
                        font-size: 17px;
                        margin-top: 0;
                    }
                }
                @media screen and (max-width:990px) {
                    .about_1 {
                        width: 800px;
                        height: 560px;
                    }
                    .about_3 {
                        width: 200px;
                        height: 320px;
                    }
                    .about_3 {
                        display: none;
                    }
                }
                @media screen and (max-width:890px) {
                    .about_1 {
                        width: 700px;
                        height: 490px;
                        margin-right: -20px;
                    }
                }
                @media screen and (max-width:768px) {
                    .about_1 {
                        width: 600px;
                        height: 400px;
                        margin-top: 0;
                    }
                    .about_2 {
                        width: 650px;
                        height: 300px;
                    }
                    .about_1 .tit {
                        bottom: -60px;
                    }
                    .about_2 .tit {
                        bottom: -117px;
                    }
                    .about_1 .tit p br,
                    .about_2 .tit p br {
                        display: none;
                    }
                    .about_1 .tit p br.m_768,
                    .about_2 .tit p br.m_768 {
                        display: block;
                    }
                }
.exhibit {
    height: 980px;
    border-top: 2px solid #fdfdfd;
    border-bottom: 2px solid #fdfdfd;
    position: relative;
}
.exhibit .wrapper {
    margin-top: -50px;
}
.exhibit .swiper {
    padding-top: 50px;
}
.exhibit .swiper-slide span {
    position: absolute;
    display: block;
    left: 25px;
    top: -30px;
    color: #fdfdfd;
    font-size: 50px;
}
.exhibit .swiper-slide span::before {
    position: absolute;
    left: -25px;
    top: -25px;
    width: 100px;
    height: 100px;
    content: "";
    background-color: #020202;
    z-index: -1;
}
.exhibit .swiper-slide img {
    display:block;
    width: 500px;
    height: 800px;
    margin-top: 80px;
}
.exhibit .text {
    position: relative;
}
.exhibit .text ul {
    position: absolute;
    right: 13px;
    top: -774px;
}
.exhibit .text ul li {
    font-size: 100px;
    font-weight: 400;
}
.exhibit .text ul li.outline {
    color: #020202;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fdfdfd;
}
.exhibit .text ul li.fill {
    position: relative;
    z-index: 100;
}
.exhibit .btn a {
    font-size: 30px;
    margin-top: -35px;
    padding-right: 172px;
    float: right;
    position: relative;
    z-index: 1;
}
.exhibit .btn a::before {
    position: absolute;
    right: 0;
    top: -12px;
    content: "";
    width: 140px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='140' height='29.491' viewBox='0 0 140 29.491'%3E%3Cg id='그룹_4' data-name='그룹 4' transform='translate(-1590 -2970.509)'%3E%3Crect id='사각형_36' data-name='사각형 36' width='140' height='1' transform='translate(1590 2999)' fill='%23fff'/%3E%3Crect id='사각형_37' data-name='사각형 37' width='40' height='1' transform='translate(1701.716 2970.509) rotate(45)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.exhibit .btn a:hover::before {
    animation-name:move;
    animation-duration: 1.22s;
    animation-iteration-count:infinite;
}
@keyframes move {
	0% { transform:translate(0, 0) }
    60% { transform:translate(66px, 0) }
    100% { transform:translate(0, 0) }
}

.sns {
    height: 840px;
}
.sns h2 {
    font-size: 100px;
    font-weight: 400;
    margin-top: 100px;
}
.sns .swiper {
    width: calc(100% + 600px);
    padding-bottom: 115px;
}
.sns .swiper ul {
    margin-top: 30px;
}
.sns .swiper ul li {
    width: 400px;
    height: 400px;
}
.sns .swiper ul li a img.hover {
    display: none;
}
.sns .swiper ul li a:hover img.normal {
    display: none;
}
.sns .swiper ul li a:hover img.hover {
    display: block;
}
.sns .swiper ul li a img {
    position: relative;
}
.sns .swiper ul li a .tit {
    position: absolute;
    left: 50%;
    top: 45%;
    width: 100%;
    transform: translate(-50%, 0);
    text-align: center;
    transition: 0.77s;
}
.sns .swiper ul li a:hover .tit {
    position: absolute;
    left: 50%;
    top: 427px;
    width: 100%;
    transform: translate(-50%, 0);
    text-align: center;
}
.sns .swiper ul li a .tit span.like {
    font-size: 20px;
    font-weight: 400;
}
.sns .swiper ul li a .tit p {
    margin-top: 10px;
}
.sns .btn {
    margin-top: 85px;
    text-align: right;
    float: right;
}
.sns .btn a {
    display: block;
}
.sns .btn p {
    font-size: 50px;
}
.sns .btn span {
    margin: 16px 4px 0 0;
    font-size: 20px;
    position: relative;
}
.sns .btn span::before {
    position: absolute;
    left: -485px;
    top: -4px;
    content: "";
    border: 1px solid #fdfdfd;
    width: 587px;
    transition: 0.77s;
}
.sns .btn a:hover span::before {
    width: 800px;
}

.contact {
    height: 600px;
    margin-top: 300px;
}
.contact .wrapper {
    position: relative;
}
.contact .map {
    float: left;
}
.contact h2 {
    font-size: 100px;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: -84px;
    z-index: 1;
}
.contact .info {
    float: right;
    text-align: right;
    width: 340px;
}
.contact .info h3 {
    font-size: 50px;
}
.contact .info p {
    font-size: 20px;
    margin-top: 20px;
}
.contact .info .pho {
    margin-top: 70px;
}
.contact .info .btn {
    margin-top: 255px;
}
.contact .info .btn a {
    display: block;
    font-size: 20px;
    position: relative;
}
.contact .info .btn a::before {
    position: absolute;
    right: -88px;
    top: -1px;
    width: 75px;
    height: 16px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75.4' height='15.883' viewBox='0 0 75.4 15.883'%3E%3Cg id='그룹_9' data-name='그룹 9' transform='translate(-1590 -2970.509)'%3E%3Crect id='사각형_36' data-name='사각형 36' width='75' height='1' transform='translate(1590 2985.392)' fill='%23fff'/%3E%3Crect id='사각형_37' data-name='사각형 37' width='21.543' height='0.539' transform='translate(1650.167 2970.509) rotate(45)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.contact .info .btn a:hover::before {
    animation-name:move;
    animation-duration: 1.11s;
    animation-iteration-count:infinite;
}
@keyframes move {
	0% { transform:translate(0, 0) }
    60% { transform:translate(16px, 0) }
    100% { transform:translate(0, 0) }
}