@charset "utf-8";
@import url(default.css);
@font-face {
    font-family:'PPMonumentExtended';
    src:url(../fonts/PPMonumentExtended-Regular.otf) format('woff');
    font-weight:500;
    font-style:normal;
}
@font-face {
    font-family:'PPMonumentExtended';
    src:url(../fonts/PPMonumentExtended-Black.otf) format('woff2');
    font-weight:700;
    font-style:normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

::selection {
    background-color: transparent;
    color: #460D02;
}
::-webkit-selection {
    background-color: transparent;
    color: #460D02;
}
::-moz-selection {
    background-color: transparent;
    color: #460D02;
}
::-o-selection {
    background-color: transparent;
    color: #460D02;
}
::-webkit-scrollbar {
    width: 10px;  /* 세로축 스크롤바 폭 너비 */
}
::-webkit-scrollbar-thumb {
    background-color: #B70809;
    border-radius: 999px;
}



html, body {
    font-family: 'PPMonumentExtended', 'GmarketSans', sans-serif;
    font-size: 15px;  
    color: #B70809;
    background-color: #FFE1C5;
    font-weight: 500;
    line-height: 1.2;
    word-break: keep-all;
    word-wrap: break-word; 
}
#wrap {
    min-width: 100%;
    overflow: hidden;
}
@media screen and (max-width:1320px) {
    html, body {
        font-size: 15px;  
    }
}
.skipnav {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 999;
    width: 100%;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 50px;
    background-color: #fdfdfd;
    color: #020202;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.skipnav a[href="#gnb"] {
    background-color: #888;
}
.skipnav a:focus {
    top: 100px;
}