@charset "utf-8";
@import url(default.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
::selection {
    background-color: transparent;
    color: #6a6f4c;
}
::-webkit-selection {
    background-color: transparent;
    color: #6a6f4c;
}
::-moz-selection {
    background-color: transparent;
    color: #6a6f4c;
}
::-o-selection {
    background-color: transparent;
    color: #6a6f4c;
}

html, body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;  
    color: #231916;
    background-color: #fff;
    font-weight: 500;
    line-height: 1.2;
    word-break: keep-all;
    word-wrap: break-word; 
}
.wrapper {
    width: 1600px;
    margin: 0 auto;
}
.wrapper2 {
    width: 1200px;
    margin: 0 auto;
}
#wrap {
    min-width: 100%;
    overflow: hidden;
}
@media screen and (max-width:1320px) {
    html, body {
        font-size: 15px;  
    }
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}
@media screen and (max-width:1240px) {
    .wrapper2 {
        width: auto;
        margin: 0 20px;
    }
}
.skipnav {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 999;
    width: 100%;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 50px;
    background-color: #fdfdfd;
    color: #020202;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.skipnav a[href="#gnb"] {
    background-color: #888;
}
.skipnav a:focus {
    top: 100px;
}