/********************
 ***HEADER, FOOTER***
 ********************/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
}
header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner .logo_gnb {
    display: flex;
    align-items: center;
}
header .inner h1.logo {
    font-size: 0;
    line-height: 0;
}
header .inner h1.logo a {
    display: block;
    width: 194px;
    height: 61px;
    background: url(../logo/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .inner .gnb {
    margin-left: 39px;
}
header .inner .gnb ul.depth1 {
    display: flex;
    text-align: center;
}
header .inner .gnb ul.depth1 >li {
    width: 118px;
    position: relative;
}
header .inner .gnb ul.depth1 >li.on {
    width: 167px;
    background-color: #231916;
    color: #F5F5EB;
}
header .inner .gnb ul.depth1 >li >a {
    display: block;
    font-size: 18px;
    line-height: 100px;
}
header .inner .gnb ul.depth1 >li >ul.depth2 {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 99px;
    width: 167px;
}
header .inner .gnb ul.depth1 >li.on >ul.depth2 {
    display: block;
}
header .inner .gnb ul.depth1 >li.on >ul.depth2::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 351px;
    content: "";
    z-index: -1;
    background-color: #231916;
}
header .inner .gnb ul.depth1 >li >ul.depth2 >li >a {
    display: block;
    font-size: 18px;
    line-height: 60px;
}
header .inner .gnb ul.depth1 >li >ul.depth2 >li >a span {
    position: relative;
}
header .inner .gnb ul.depth1 >li >ul.depth2 >li >a:hover span::before {
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translate(-50%, 0);
    width: 100%;
    border-bottom: 1px solid #F5F5EB;
    color: #fff;
    content: "";
}
header .inner .gnb ul.depth2 {
    display: none;
}
header .inner .gnb .gnb_open,
header .inner .gnb .gnb_close {
    display: none;
}
header .inner .search label {
    display: none;
}
header .inner .search input[type="text"] {
    width: 180px;
    height: 36px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(35, 25, 22, 0.7);
    color: #231916;
    outline: 0;
    padding-left: 1px;
    margin-right: -3px;
    margin-bottom: 2px;
}
header .inner .search input[type="submit"] {
    width: 81px;
    height: 36px;
    background-color: #231916;
    color: #F5F5EB;
    border: 0;
    outline: 0;
    margin-right: 0;
}
header .inner .search input::placeholder {
    color: rgba(35, 25, 22, 0.7);
}
header.menu_over::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 450px;
    background-color:rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(7px);
    z-index: -1;
}
header.menu_over .inner .gnb ul.depth1 >li {
    width: 167px;
}
header.menu_over .inner .gnb ul.depth1 >li >ul.depth2 {
    display: block;
}
header.fixed {
    background-color: transparent;
    
}
                @media screen and (max-width:1600px) {
                    header .inner {
                        justify-content: space-around;
                    }
                }
                @media screen and (max-width:1470px) {
                    header .inner .search {
                        margin-right: 160px;
                    }
                }
                @media screen and (max-width:1320px) {
                    header .inner {
                        justify-content: space-between;
                    }
                    header .inner .search {
                        margin-right: 0;
                    }
                    header .inner h1.logo a {
                        width: 132px;
                        height: 42px;
                    }
                }
                @media screen and (max-width:1070px) {
                    header .inner .search input[type="text"] {
                        width: 130px;
                        height: 26px;
                        font-size: 12px;
                    }
                    header .inner .search input[type="submit"] {
                        width: 55px;
                        height: 26px;
                        font-size: 12px;
                    }
                    header .inner .gnb {
                        margin-left: 10px;
                    }
                    header .inner .gnb ul.depth1 >li {
                        width: 88px;
                    }
                    header .inner .gnb ul.depth1 >li >a {
                        font-size: 15px;
                    }
                }

                @media screen and (max-width:768px) {
                    header {
                        height: 50px;
                        position: absolute;
                    }
                    header .inner {
                        display: block;
                        padding-top: 15px;
                    }
                    header .inner .logo_gnb {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    header .inner h1.logo a {
                        width: 90px;
                        height: 30px;
                    }
                    header .inner .gnb {
                        margin: 0;
                        width: 18px;
                    }
                    header .inner .gnb .gnb_open {
                        display: block;
                        font-size: 0;
                        line-height: 0;
                        width: 24px;
                        height: 20px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='7' width='18' height='1' fill='%23231916'/%3E%3Crect y='14' width='18' height='1' fill='%23231916'/%3E%3Crect width='18' height='1' fill='%23231916'/%3E%3C/svg%3E%0A");
                    }
                    header .inner .gnb ul.depth1 >li >a {
                        display: none;
                    }
                    header .inner .search input[type="text"] {
                        display: none;
                    }
                    header .inner .search input[type="submit"] {
                        display: none;
                        font-size: 0;
                        line-height: 0;
                        background-color: transparent;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='7' stroke='%23F5F5EB'/%3E%3Crect x='12.3536' y='12.7071' width='0.5' height='9.5' transform='rotate(-45 12.3536 12.7071)' stroke='%23F5F5EB' stroke-width='0.5'/%3E%3C/svg%3E%0A");
                    }
                    header.menu_open {
                        position: relative;
                    }
                    header.menu_open .inner {
                        display: flex;
                        flex-direction: row-reverse;
                    }
                    header.menu_open .gnb_wrap {
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100vh;
                        background-color: #231916;
                    }
                    header.menu_open .inner .gnb .gnb_open {
                        display: none;
                    }
                    header.menu_open .inner .gnb .gnb_close {
                        position: relative;
                        z-index: 100;
                        display: block;
                        font-size: 0;
                        line-height: 0;
                        width: 24px;
                        height: 24px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.282471' y='13.5104' width='18' height='1' transform='rotate(-45 0.282471 13.5104)' fill='%23F5F5EB'/%3E%3Crect width='18' height='1' transform='matrix(-0.707107 -0.707107 -0.707107 0.707107 13.7175 13.5104)' fill='%23F5F5EB'/%3E%3C/svg%3E%0A");
                    }
                    header.menu_open .inner .gnb ul.depth1 {
                        flex-direction: column;
                        align-items: center;
                        margin-top: 100px;
                    }
                    header.menu_open .inner .gnb ul.depth1 >li >a {
                        display: block;
                        color: #F5F5EB;
                        line-height: 70px;
                        font-size: 18px;
                    }
                    header.menu_open .inner .gnb ul.depth1 >li >ul.depth2{
                        display: none;
                        left: 50%;
                        top: -14px;
                        transform: translate(-50%, 0);
                        width: 100vh;
                        color: #231916;
                    }
                    header.menu_open .inner .gnb ul.depth1 >li.on >ul.depth2::before {
                        position: absolute;
                        left: 50%;
                        top: 10px;
                        transform: translate(-50%, 0);
                        width: 100vh;
                        height: 100%;
                        content: "";
                        z-index: -1;
                        background-color: #F5F5EB;
                    }
                    header.menu_open .inner .gnb ul.depth1 >li.on >ul.depth2 {
                        position: relative;
                        display: block;
                    }
                    header.menu_open .inner .gnb ul.depth1 >li >ul.depth2 >li >a {
                        font-size: 15px;
                        color: #231916;
                    }
                    header.menu_open .inner .gnb ul.depth1 >li >ul.depth2 >li:first-child >a {
                        padding-top: 20px;
                    }
                    header.menu_open .inner .gnb ul.depth1 >li >ul.depth2 >li:last-child >a {
                        padding-bottom: 10px;
                    }
                    header.menu_open .inner .search input[type="submit"] {
                        display: block;
                        position: relative;
                        z-index: 100;
                    }
                }
                @media screen and (max-width:425px) {
                    header .inner h1.logo a {
                        width: 60px;
                        height: 20px;
                    }
                    header .inner .gnb .gnb_open {
                        width: 18px;
                        height: 15px;
                    }
                    header.menu_open .inner .gnb .gnb_close {
                        width: 18px;
                        height: 18px;
                    }
                }
                @media screen and (min-width:768px) {
                    .header.menu_over.fixed {
                        background-color: transparent;
                    }
                }

footer {
    margin-top: 200px;
    position: relative;
}
footer::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    content: "";
    border-bottom: 2px solid #231916;
}
footer .wrapper2 {
    position: relative;
}
footer .familysite {
    float: right;
    text-align: center;
    position: absolute;
    right: 0;
    top: -2px;
}
footer .familysite button {
    position: relative;
    font-weight: 500;
    padding-right: 40px;
    margin-top: 30px;
}
footer .familysite button::before {
    position: absolute;
    right: 0;
    top: 7px;
    content: "";
    width: 14px;
    height: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='7.0708' width='10' height='1' transform='rotate(-45 0 7.0708)' fill='%23231916'/%3E%3Crect width='10' height='1' transform='matrix(0.707107 0.707107 0.707107 -0.707107 6.38916 0.707031)' fill='%23231916'/%3E%3C/svg%3E%0A");
}
footer .familysite.on button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='14.1675' y='0.70752' width='10' height='1' transform='rotate(135 14.1675 0.70752)' fill='%23231916'/%3E%3Crect width='10' height='1' transform='matrix(-0.707107 -0.707107 -0.707107 0.707107 7.77832 7.07129)' fill='%23231916'/%3E%3C/svg%3E%0A");
}
footer .familysite ul {
    display: none;
    line-height: 50px;
    text-align: left;
    position: absolute;
    left: -36px;
    top: -310px;
    background-color: #231916;
    color: #F5F5EB;
    border-radius: 15px 15px 0 0 ;
    padding: 10px 67px 0 36px;
    box-shadow: -5px 5px 8px 0 rgba(0, 0, 0, 0.25);
}
footer .familysite ul li a {
    display: block;
    position: relative;
}
footer .familysite ul li a:hover::before {
    position: absolute;
    right: -45px;
    top: 19px;
    width: 8px;
    height: 14px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='15' viewBox='0 0 8 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.707275' width='10' height='1' transform='rotate(45 0.707275 0)' fill='%23F5F5EB'/%3E%3Crect width='10' height='1' transform='matrix(-0.707107 0.707107 0.707107 0.707107 7.07104 6.38916)' fill='%23F5F5EB'/%3E%3C/svg%3E%0A");
}
footer .familysite.on ul {
    display: block;
}
footer .f_inner {
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: flex-start;
}
footer .f_inner .f_info {
    margin-top: 20px;
}
footer .f_inner .f_txt ul,
footer .f_inner .f_info ul {
    display: flex;
}
footer .f_inner .f_txt ul li,
footer .f_inner .f_info ul li {
    margin-right: 20px;
}
footer .f_inner .f_txt ul li a {
    display: block;
}
footer .f_inner .f_txt ul li:first-child {
    color: #C1B6A4;
}
footer .f_inner .f_info ul li:last-child {
    margin: 0;
}
footer .copyright {
    text-align: center;
    margin: 30px 0 50px 0;
}
@media screen and (max-width:1400px) {
    footer .familysite {
        margin-right: 80px;
    }
}
@media screen and (max-width:1320px) {
    footer .familysite {
        margin-right: 0;
    }
}
@media screen and (max-width:889px) {
    footer .f_inner .f_info ul {
        flex-wrap: wrap;
    }
    footer .f_inner .f_info ul li,
    footer .f_inner .f_info ul li:last-child {
        margin-top: 10px;
    }
}
@media screen and (max-width:580px) {
    footer {
        font-size: 12px;
        margin-top: 110px;
    }
    footer::before {
        border-bottom: 1px solid #231916;
    }
    footer .familysite {
        float: none;
        text-align: center;
        position: absolute;
        right: 50%;
        top: -2px;
        z-index: 100;
        transform: translate(30%, 0);
    }
    footer .familysite ul {
        left: -16px;
        top: -308px;
        padding: 10px 37px 0 26px;
    }
    footer .familysite button {
        padding: 0;
    }
    footer .familysite button::before {
        right: -40px;
        top: 5px;
        width: 11px;
        height: 7px;
    }
    footer .f_txt {
        margin-top: 50px;
    }
    footer .f_inner,
    footer .f_inner .f_info ul {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width:320px) {
    footer .copyright {
        width: 170px;
    }
}