/********************
 ***HEADER, FOOTER***
 ********************/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
}
header.menu_over::before {
    position: absolute;
    left: 0;
    top: 100px;
    content: "";
    width: 100%;
    height: 350px;
    background-color:rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(20px);
    z-index: -1;
}
header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner .logo_gnb {
    display: flex;
    align-items: center;
}
header .inner h1.logo {
    font-size: 0;
    line-height: 0;
}
header .inner h1.logo a {
    display: block;
    width: 194px;
    height: 61px;
    background: url(../logo/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .inner .gnb {
    margin-left: 39px;
}
header .inner .gnb ul.depth1 {
    display: flex;
    text-align: center;
}
header .inner .gnb ul.depth1 >li {
    width: 118px;
    position: relative;
    transition: 0.66s;
}
header .inner .gnb ul.depth1 >li.on {
    width: 167px;
}
header .inner .gnb ul.depth1 >li >a {
    display: block;
    font-size: 18px;
    line-height: 100px;
}
header .inner .gnb ul.depth1 >li >ul.depth2 {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 99px;
    width: 167px;
}
header .inner .gnb ul.depth1 >li.on >ul.depth2 {
    display: block;
}
header .inner .gnb ul.depth1 >li >ul.depth2 >li >a {
    display: block;
    font-size: 18px;
    line-height: 60px;
}
header .inner .gnb ul.depth2 {
    display: none;
}
header .inner .gnb .gnb_open,
header .inner .gnb .gnb_close {
    display: none;
}
header .inner .search label {
    display: none;
}
header .inner .search input[type="text"] {
    width: 180px;
    height: 36px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(35, 25, 22, 0.7);
    color: #231916;
    outline: 0;
    padding-left: 1px;
    margin-right: -3px;
    margin-bottom: 1px;
}
header .inner .search input[type="submit"] {
    width: 81px;
    height: 36px;
    background-color: #231916;
    color: #F5F5EB;
    border: 0;
    outline: 0;
    margin-right: 0;
}
header .inner .search input::placeholder {
    color: rgba(35, 25, 22, 0.7);
}