@import url(default.css);
@import url(common.css);
@import url(layout.css);

.visual .swiper {
    margin-left: 22.5%;
    width: 1400px;
    height: 800px;
    z-index: -2;
    }
.visual .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 슬라이드 숫자 그룹 */
.visual .swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
    color:rgba(245, 245, 235, 0.4);
    font-size: 15px;
}

/* 슬라이드 진행 숫자 */
.visual .swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal span.swiper-pagination-current {
    font-size: 30px;
    color: #fff;
}
